$H$H Lesson 6 - For-loops

Repetition is at the core of programming. On this lesson we are going to learn
how to write for loops.

$H$H$H What you are going to learn

* Write a for-loop.

$H$H$H Theory

TODO

$H$H$H Instructions

Follow the instructions on the TODO comment in the source code.

---------------------------------------------------------------------------------------------------

$H$H Bring home lessons

* For-loops are a simple way to repeat a block of code.
