$H$H Lição 6 - For-loops

Repetições são uma parte fundamental da programação. Nesta lição nós vamos
aprender a escrever loops for.

$H$H$H O que você vai aprender

* Escrever um loop for.

$H$H$H Teoria

TODO

$H$H$H Instruções

Siga as instruções no comentário TODO no código fonte.

---------------------------------------------------------------------------------------------------

$H$H O que aprendemos

* Loops for são uma forma simples de repetir um bloco de código.
